.customYellow{
    background-color:#fde801;
}

.customTab{
    background-color: #F9BC02;
}

.customTransparent{
    background-color: transparent;
    color: white;
    border: transparent;
}

.customCyan{
    background-color: #00d4a1;
}

.customRed{
    background-color: #f62e30;
}

.textRed{
    color: #f62e30;
}

.textDark{
    color: #010101;
}

.textCyan{
    color: #00d4a1;
}

.textRegister{
    color: #02bbf3;
}

.textHere{
    color: #045acf;
}



.textWhite{
    color: #ffff;
}
